<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-app">
  <a class="navbar-brand" href="#">Vendas Online</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to 'Dashboard', root_path, class: 'nav-link'%>
      </li>
      <li class="nav-item">
        <%= link_to 'Minhas Vendas', product_exits_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Minhas Pedidos', product_entries_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to sellers_path, class: 'nav-link' do %>
          <span class="hide-menu">Vendedores</span>
        <% end %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Configurações de Estoque
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to 'Produtos', products_path, class: 'dropdown-item' %>
          <%= link_to 'Fornecedores', suppliers_path, class: 'dropdown-item' %>
          <%= link_to 'Categorias', categories_path, class: 'dropdown-item' %>
          <%= link_to 'Subcategorias', subcategories_path, class: 'dropdown-item' %>
        </div>
      </li>
      <li class="nav-item">
        <div class="text-center">
          <%= link_to 'Sair', destroy_user_session_path, class: 'btn btn-danger' %>
        </div>
      </li>
    </ul>
  </div>
</nav>