<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @product_exit.amount %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product_exit.price %>
</p>

<p>
  <strong>Observation:</strong>
  <%= @product_exit.observation %>
</p>

<p>
  <strong>Comission:</strong>
  <%= @product_exit.comission %>
</p>

<p>
  <strong>Product:</strong>
  <%= @product_exit.product_id %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @product_exit.seller_id %>
</p>

<%= link_to 'Edit', edit_product_exit_path(@product_exit) %> |
<%= link_to 'Back', product_exits_path %>
