<%
  page_title = "Entrada de Produtos"
  page_path = [
      { name: 'Inicio', link: root_path },
      { name: 'Entrada de Produtos', link: root_path },
  ]
  button = {
      link: new_product_entry_path,
      class: 'btn btn-info m-l-15',
      content: '<i class="fa fa-plus-circle"></i> Criar'.html_safe
  }
%>
<%= page_header_helper(page_title, page_path, button) %>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>Produto</th>
              <th>Quantidade</th>
              <th>Preço</th>
              <th>Data do Pagamento</th>
<!--              <th>Forecast receipt date</th>-->
<!--              <th>Receipt date</th>-->
              <th>Fornecedor</th>
              <th>Observação</th>
              <th colspan="3"></th>
            </tr>
            </thead>
            <tbody>
            <% if @product_entries.length > 0 %>
              <% @product_entries.each do |product_entry| %>
                <tr>
                  <td><%= product_entry.product.title %></td>
                  <td><%= product_entry.amount %></td>
                  <td><%= product_entry.price %></td>
                  <td><%= product_entry.payment_date %></td>
<!--                  <td><%#= product_entry.forecast_receipt_date %></td>-->
<!--                  <td><%#= product_entry.receipt_date %></td>-->
                  <td><%= product_entry.supplier.name %></td>
                  <td><%= product_entry.observation %></td>
<!--                  <td><%#= link_to 'Show', product_entry %></td>-->
<!--                  <td><%#= link_to 'Edit', edit_product_entry_path(product_entry) %></td>-->
<!--                  <td><%#= link_to 'Destroy', product_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
                  <td width="10">
                    <%= link_to edit_product_entry_path(product_entry), class: 'btn btn-sm btn-outline-info',
                                'data-toggle': "tooltip", 'data-placement':"bottom", title: "Editar" do %>
                      <i class="fa fa-edit"></i>
                    <% end %>
                  </td>
                  <td width="10">
                    <%= link_to product_entry, class: "btn btn-sm btn-danger",
                                method: :delete, data: { confirm: 'Deseja excluir essa entrada?' },
                                'data-toggle': "tooltip", 'data-placement':"bottom", title: "Excluir" do %>
                      <i class="fa fa-trash"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="10">
                  <h6 class="card-subtitle card-subtitle-no-result">
                    Nenhuma entrada foi encontrada.
                  </h6>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

