<!DOCTYPE html>
<html>
  <head>
    <title>Loja Online</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="skin-default-dark fixed-layout">
    <%= render partial: 'layouts/shared/sidebar' %>

    <div id="main-wrapper">
      <div class="page-wrapper">
        <div class="container-fluid">
          <div class="page-wrapper">
            <div class="container-fluid">
              <div class="row page-titles">
                <%= yield %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= render partial: 'layouts/shared/footer' %>
  </body>
</html>
